
<body class="hero">
  <div class="container">
    <h1 class="text-center headline">This is the beginning of an awesome app</h1>

    <button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to 'Get Started', new_user_session_path, class: 'login' %></button>
  </div>
</body>